:root {
    --blue-color-gradient-top : linear-gradient(-170deg,#6B729B -100%, #62A2CF -95%,#141B30 60%, #6B729B 250%);
    --blue-color-gradient-down : linear-gradient(-300deg,#6B729B -100%, #62A2CF -95%,#141B30 30%, #6B729B 250%);
    --blue-color-item-gradient : linear-gradient(#62A2CF, #315168);
    --blue-color : #62A2CF;
    --text-color : white;
    --green-color : #00FF77;
    --orange-color : #FFDF00;
    --background-color : #302E2E;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-size: 87.5%;
    min-height: 100vh;
}

body h1 {
    color: #62A2CF;
    
}

body p {
    color: var(--text-color);
}

h1, h2, p, a, input, label {
    font-family: "Segoe UI";
}

a {
    text-decoration: none;
}

header  {
    background: var(--blue-color-gradient-top);
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}
header > span {
    color: var(--text-color);
    font-family: "Antigrav";
    font-size: 1.8em;
    
}
header > button {
    background-color: transparent;
    border : none;
}
main {
    padding: 0 10px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
    background: var(--blue-color-gradient-down);
}
footer > div {
    display: flex;
    justify-content: flex-end;
}
footer > div {
    width: 25%;;
}
footer > div a {
    margin: 0 5px;
}
footer > div a > img {
    width: 20px;
}
footer > span {
    color: var(--text-color);
    font-family: "Segoe UI";
}

/* COMMON CLASSES */
.text-orange {
    color: var(--orange-color);
}
.text-green {
    color : var(--green-color)
}
.page-enum {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    
}
.page-enum a {
    color: var(--text-color);
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    font-weight: bold;
    transition: 0.6s;
}
.page-enum a:first-of-type {
    border-radius: 10px 0 0 10px;
}
.page-enum a:last-of-type {
    border-radius: 0 10px 10px 0;
}

/* ANIMATIONS */
.page-enum a:hover {
    background-color: var(--text-color);
    color: var(--background-color);
}
/* RESPONSIVE */

@media screen and (min-width : 800px) {
    footer {
        padding: 20px 30px;
    }
    footer > span {
        font-size: 1.2em;
    }
}

@font-face {
    font-family: "Antigrav";
    src: url("../font/antigrav-bb.italic.ttf");
    
}