body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 10px ;
}
body > div > label {
    width: 30px;
}
body > div img {
    width: 100%;
}
body > div > input {
    background: none;
    border: none;
    border-bottom: 2px solid var(--text-color);
    width: 50%;
    margin-left: 10px;  
    color: var(--text-color);
}
body > div > input:focus {
    outline: none;
}
.poll-containers{
    margin: 10px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}
.poll-containers div:nth-child(2) {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.poll-containers div:nth-child(2) h2 {
    margin: 0;
}
.poll-portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.poll-portrait > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}
.poll-portrait > div > img {
    width: 100%;
    height: 100%;
}

.poll-score {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.poll-score img {
    width: 25px;
}
.poll-score > span {
    font-weight: bold;
    font-family: "Segoe UI";
}
.poll-containers i, .poll-containers h2 {
    color: var(--text-color);
}

.poll-containers:hover {
    position: relative;
    border-radius: 10px;
    background: var(--blue-color-item-gradient);
    box-sizing: border-box;
    border-radius: 100px 20px 20px 100px;
}
.poll-containers:hover::after, .poll-containers:hover::before {
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: white;
    border-radius: 50px;
}
.poll-containers:hover::after {
    bottom: 0;
    left: 10%;
    animation: 4s ease-in-out moveBorderToLeft infinite;
}
.poll-containers:hover::before {
    top: 0;
    right: 10%;
    animation: 4s ease-in-out moveBorderToRight infinite;
}

/* Animation */

@keyframes moveBorderToLeft {
    0% {
        left: 10%;
    }
    50% {
        left: 78%;
    }
    100% {
        left: 10%;
    }
}

@keyframes moveBorderToRight {
    0% {
        right: 7%;
    }
    50% {
        right: 75%;
    }
    100% {
        right: 7%;
    }
}

@media screen and (min-width : 800px) {
    body > div > input {
        width: 25%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    main > section {
        padding: 0 10px;
        box-shadow: -10px 10px 5px rgba(0,0,0,0.5);
    }
    .poll-containers div{
        margin: 0 10px;
    }
}